<!-- 找店资源-->
<div ng-if="vm.pluginId == 'xw:siting'">

        <label class="opportunity-control-label">编号：</label>
        <span>{{resource.detail.opportunityId}}</span><br>
        <label class="opportunity-control-label">联系人：</label>{{resource.detail.contact}}<br>
        <label class="opportunity-control-label">电话：</label>{{resource.detail.mobile}}<br>
<!--
        <label class="opportunity-control-label">地址：</label>{{resource.detail.address}}<br>
-->
    <label class="opportunity-control-label">类型：</label>{{resource.detail.type | transferType}}<br>
    <div ng-if="resource.detail.shopName">
        <label class="opportunity-control-label">店名：</label> <span ng-if="resource.detail.shopName">{{resource.detail.shopName}}</span>
    </div>
    <div>
        <label class="opportunity-control-label">行业业态：</label> <span>{{resource.detail.industryId | industryName}}－{{resource.detail.minIndustryId | industryName}}</span>
    </div>
   <!-- <div ng-if="resource.detail.industryId">
        <label class="opportunity-control-label">大行业：</label> <span ng-if="resource.detail.industryId">{{resource.detail.industryId | industryName}}</span>
    </div>
    <div ng-if="resource.detail.minIndustryId">
        <label class="opportunity-control-label">小行业：</label> <span ng-if="resource.detail.minIndustryId">{{resource.detail.minIndustryId | industryName}}</span>
    </div>-->
    <div ng-if="resource.detail.transferFee">
        <label class="opportunity-control-label">转让费：</label> <span ng-if="resource.detail.transferFee">{{resource.detail.transferFee/100}}元</span>
    </div>
    <div ng-if="resource.detail.businessStatus">
        <label class="opportunity-control-label">店铺状态：</label> <span ng-if="resource.detail.businessStatus">{{resource.detail.businessStatus |shopStatus}}</span> <span ng-if="resource.detail.emptyTransfer">、</span><span ng-if="resource.detail.emptyTransfer">{{resource.detail.emptyTransfer | emptyTransfer}}</span>
    </div>
 <!--   <div ng-if="resource.detail.emptyTransfer">
        <label class="opportunity-control-label">是否空转：</label> <span ng-if="resource.detail.emptyTransfer">{{resource.detail.emptyTransfer | emptyTransfer}}</span>
    </div>-->
    <div ng-if="resource.detail.contractPeriod">
        <label class="opportunity-control-label">剩余合同期：</label> <span ng-if="resource.detail.contractPeriod">{{resource.detail.contractPeriod |contractPeriodFilter}}</span>
    </div>

    <div ng-if="resource.detail.fcList && resource.detail.fcList.length != 0">
        <label class="opportunity-control-label">物业配套：</label>
        <span ng-repeat="facilitie in resource.detail.fcList">{{facilitie | facilitiesFilter}}<span ng-if="!$last">、</span></span>
    </div>

    <div ng-if="resource.detail.districtId">
        <label class="opportunity-control-label">所在区域：</label> <span ng-if="resource.detail.districtId">{{resource.detail.districtId | districtName}}</span>
    </div>
    <div ng-if="resource.detail.address">
        <label class="opportunity-control-label">店铺地址：</label> <span ng-if="resource.detail.address">{{resource.detail.address}}</span>
    </div>
    <div ng-if="resource.detail.industryIdList && resource.detail.industryIdList.length != 0">
        <label class="opportunity-control-label">适合经营：</label>
        <span ng-repeat="industry in resource.detail.industryIdList">{{industry | industryName}}<span ng-if="!$last">、</span></span>
    </div>
    <div >
        <label class="opportunity-control-label">详细描述：</label>{{resource.detail.description}}
    </div>
</div>

<!-- 转店资源-->
<div ng-if="vm.pluginId == 'xw:transfer'">


    <label class="opportunity-control-label">编号：</label>{{resource.detail.opportunityId}}{{resource.detail.id}}<br>
    <label class="opportunity-control-label">联系人：</label>{{resource.detail.contact}}<br>
    <label class="opportunity-control-label">电话：</label>{{resource.detail.mobile}}<br>
    <label class="opportunity-control-label">经营类型：</label>{{resource.detail.industryType | industryTypeFilter}}
   <!-- <label class="opportunity-control-label">类型：</label>{{resource.detail.content.type | transferType}}<br>-->
    <div ng-if="resource.detail.brandName">
        <label class="opportunity-control-label">品牌名称：</label>{{resource.detail.brandName}}
    </div>
    <div ng-if="resource.detail.type != undefined">
        <label class="opportunity-control-label">首选类型：</label>{{resource.detail.type | reqTypeFilter}}
    </div>
    <label class="opportunity-control-label">求租行业：</label>{{resource.detail.industryId |industryName}}－{{resource.detail.minIndustryId | industryName}}<br>

    <div ng-if="resource.detail.doorWidth">
        <label class="opportunity-control-label">门宽要求：</label> <span ng-if="resource.detail.doorWidth">{{resource.detail.doorWidth/100}}</span>米
    </div>
  <!--  <div ng-if="resource.detail.industryId">
        <label class="opportunity-control-label">大行业：</label> <span ng-if="resource.detail.industryId">{{resource.detail.industryId |industryName}}</span>
    </div>
    <div ng-if="resource.detail.minIndustryId">
        <label class="opportunity-control-label">小行业：</label> <span ng-if="resource.detail.minIndustryId">{{resource.detail.minIndustryId | industryName}}</span>
    </div>-->
    <label class="opportunity-control-label">优先区域：</label>
        <span ng-repeat="district in resource.detail.disList">
            <span ng-if="district.toString().length != 4">{{district | districtName}}</span>
            <span ng-if="district.toString().length == 4">{{district | cityName}}</span>
            <span ng-if="!$last">、</span>
        </span>
    <div ng-if="resource.detail.fcList && resource.detail.fcList.length != 0">
        <label class="opportunity-control-label">物业配套：</label>
        <span ng-repeat="facilitie in resource.detail.fcList">{{facilitie | facilitiesFilter}}<span ng-if="!$last">、</span></span>
    </div>
    <div>
        <label class="opportunity-control-label">详细描述：</label>{{resource.detail.description}}
    </div>

  <!--  <div ng-if="resource.detail.type == 1">
        <label class="opportunity-control-label">店名：</label>{{resource.detail.content.shopName}}
     </div>
    <div ng-if="resource.detail.type == 2">
        <label class="opportunity-control-label">楼盘：</label>{{resource.detail.content.shopName}}
    </div>
    <div ng-if="resource.detail.type == 1">
        <label class="opportunity-control-label">行业业态：</label> <span>{{resource.detail.content.industryId | substr:0:2 | industryName}}－{{resource.detail.content.industryId | industryName}}</span>
    </div>
    <div ng-if="resource.detail.transferFee">
        <label class="opportunity-control-label">转让费：</label>{{resource.detail.content.transferFee/1000000}}万元
    </div>
    <div ng-if="resource.detail.cost">
        <label class="opportunity-control-label">转让费：</label>{{resource.detail.content.cost/1000000}}万元
    </div>
    <div ng-if="resource.detail.type == 1">
        <label class="opportunity-control-label">店铺状态：</label> <span>{{resource.detail.content.businessStatus | shopStatus}}-{{resource.detail.content.emptyTransfer | emptyTransfer}}空转</span>
    </div>

    <div ng-if="resource.detail.facilities && resource.detail.facilities.length != 0">
    <label class="opportunity-control-label">物业配套：</label><span
        ng-repeat="facilitie in resource.detail.facilities">{{facilitie | facilitiesFilter}}<span ng-if="!$last">、</span></span>
    </div>
    <label class="opportunity-control-label">所在区域：</label>{{resource.detail.cityId | cityName}}{{resource.detail.content.districtId | districtName}}<br>
    <label class="opportunity-control-label">店铺地址：</label>{{resource.detail.content.districtId | substr:0:4 | cityName}}{{resource.detail.content.districtId | substr:0:6 | districtName}}{{resource.detail.content.districtId | districtName}}{{resource.detail.content.address}}<br>
    <div ng-if="resource.detail.content.suitableIndustryIds && resource.detail.content.suitableIndustryIds.length != 0">
        <label class="opportunity-control-label">适合经营：</label>
        <span ng-repeat="industry in resource.detail.suitableIndustryIds">
            {{industry | industryName}}
            <span ng-if="!$last">、</span>
        </span>
    </div>
    <div ng-if="resource.detail.description">
        <label class="opportunity-control-label">详细描述：</label>{{resource.detail.description}}
    </div>-->
</div>
