<section class="">
    <ol class="breadcrumb ">
        <li>首页</li>
    </ol>
</section>
<div class="w-width text-center">
    <img src="./static/img/homePage.jpg" alt="" class="homePage">
    <!--<ul>-->
        <!--<li class="slider slider-active animated slideInRight">-->
            <!--<img src="./static/img/homePage.jpg" alt="" class="homePage">-->
        <!--</li>-->
        <!--<li class="slider animated slideInRight">-->
            <!--<img src="./static/img/homePage.jpg" alt="" class="homePage">-->
        <!--</li>-->
        <!--<li class="slider animated slideInRight">-->
            <!--<img src="./static/img/homePage.jpg" alt="" class="homePage">-->
        <!--</li>-->
        <!--<li class="slider animated slideInRight">-->
            <!--<img src="./static/img/homePage.jpg" alt="" class="homePage">-->
        <!--</li>-->
        <!--<li class="slider animated slideInRight">-->
            <!--<img src="./static/img/homePage.jpg" alt="" class="homePage">-->
        <!--</li>-->
    <!--</ul>-->

</div>
